<footer>
    <h6 class="logo">COLORS</h6>
    <span class="bold-small">made using</span>
    <div class="images">
        <img src="img/logos/nodejs-logo.png" alt="Node JS">
        <img src="img/logos/expressjs-logo.png" alt="Node JS">
        <img src="img/logos/ejs-logo.gif" alt="Node JS">
    </div>
</footer>