<nav class="main-nav">
    <div class="navigation">
        <a href="/" class="logo">COLORS</a> 
        <ul>
          <li><a href="/blog" class="normal-hover">Blog</a></li>
          <li><a href="/randomcolor" class="normal-hover">Random Colors</a></li>
          <li><a href="/palette" class="normal-hover">Palette</a></li>
          <li><a href="/gradient" class="normal-hover">Gradient</a></li>
          <li><a href="/livecolorstest" class="normal-hover">Live Colors Test</a></li>
        </ul>
    </div>
    <div class="user-experience" >
      <a class="sign sign-in normal-hover" href="/login">
        <span>Sign in</span>
      </a>
      <a class="sign sign-up" href="/signup">
        <span>Sign up</span>
      </a>
    </div>
  </nav>