<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/randomcolor">Random Color</a></li>
        <li><a href="/colorpalette">Color Palette</a></li>
        <li><a href="/gradient">Gradient</a></li>
    </ul>
    <ul>
        <li><a href="/register">Login/Register</a></li>
    </ul>
</nav>