    <nav class="second-nav">
        <div class="navigation">
            <ul>
                <li><a href="/palette" class="normal-hover">Generator</a></li>
                <li><a href="/palette/browse" class="normal-hover">Browse</a></li>
                <li><a href="/palette/create" class="normal-hover">Create</a></li>
            </ul>
        </div>
    </nav>