:root{
    --main-color: #fff;
    --second-color: #000;
    --navbar-uls-color: #333;
    --third-color: #17ccba;
    --color-box-size: clamp(20px, 3vw, 30px)
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body,html{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

/* nav{
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background: var(--second-color);
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border-radius: 1.4rem;
    background-color: var(--navbar-uls-color);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--main-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: var(--third-color);
} */

.main{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  background-color: red;
}

.color_box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color_name{
  font-size: var(--color-box-size);
  font-weight: 700;
}
.color_code{
  font-size: var(--color-box-size);
  text-transform: uppercase;
  font-weight: 700;
}