<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colors - the only app for any work with colors</title>
    <link rel="stylesheet" href="css/master.css" />
    <link rel="stylesheet" href="css/three.css" />
  </head>
  <body>
    <%- include('../includes/navbar')%>
    <main>
      <div class="container">
        <header>
          <div class="hero">
            <div class="title">
              <h1>COLORS</h1>
              <span class="smaller-header">Are Everywhere</span>
            </div>
            <div class="description">
              Aliquam et faucibus eros. Cras quis semper sem. Cras consequat
              tempus lacus feugiat convallis. Donec non vulputate ex, vitae
              dictum sapien. Nullam sit amet aliquet risus.
            </div>
          </div>
          <div class="logo-image">
            <svg
              width="500"
              height="500"
              viewBox="0 0 500 500"
              fill="none"
            >
              <g id="Group 9">
                <circle
                  id="Ellipse1"
                  cx="128"
                  cy="128"
                  r="125"
                  fill="#320D3E"
                  stroke="black"
                  stroke-width="6"
                />
                <circle
                  id="Ellipse2"
                  cx="250"
                  cy="250"
                  r="125"
                  fill="#FFD79D"
                  stroke="black"
                  stroke-width="6"
                />
                <circle
                  id="Ellipse3"
                  cx="372"
                  cy="372"
                  r="125"
                  fill="#D902EE"
                  stroke="black"
                  stroke-width="6"
                />
              </g>
            </svg>
          </div>
        </header>
      </div>
    </main>
    <%- include('../includes/footer')%>
    <script src="js/aesthetic/landingpagecolors.js" defer></script>
  </body>
</html>
