<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors - test how your combination of Colors look live</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/nine.css">

</head>
<body>
    <%- include('../includes/navbar')%>
    <main>
        <div class="container">
            <form action="/livecolorstest" method="POST">
                <select name="keys" id="">
                    <% colorMeanings.forEach(color=>{%>
                        <option><%- color.keys %></option>
                    <%})%>
                </select>
                <input type="submit" value="GENERATE">
            </form>
            <% if(locals.modifiedColor) {%>
                <div> <input type="color" value="<%= modifiedColor %>" onclick="saveColor();" onchange="changeColor();"></div>
                <div class="preview">
                    <h2>WTF</h2>
                </div>
            <% }%>
        </div>
    </main>
    <%- include('../includes/footer')%>
    <script src="js/backend-connect/livecolorstest.js" defer></script>

</body>
</html>