<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors - Random Color Generator</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/three.css">
</head>
<body id="randCol">
    <%- include('../includes/navbar')%>
    <main>
        <div class="container">
            <div class="space_button"><span>Press space</span></div>
            <div class="randomColor">
                <div class="color_box">
                    <div class="color_name"></div>
                    <div class="color_code"></div>
                </div>
                <div class="color_box">
                    <div class="color_name"></div>
                    <div class="color_code"></div>
                </div>
                <div class="color_box">
                    <div class="color_name"></div>
                    <div class="color_code"></div>
                </div>
                <div class="color_box">
                    <div class="color_name"></div>
                    <div class="color_code"></div>
                </div>
                <div class="color_box">
                    <div class="color_name"></div>
                    <div class="color_code"></div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer')%>
    <script src="js/backend-connect/clientrandom.js" defer></script>
    <script src="js/aesthetic/clientrandom.js" defer></script>
</body>
</html>